<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="site-footer-logo">
          {{with .Site.Params.footer.title}}
          <a href="{{ .Site.BaseURL }}">
            <!-- <img src="{{ " images/logo-footer.png" | absURL }}" alt="logo-footer"> -->
            {{.name}}
          </a>
          {{end}}
        </div>
      </div>

      <div class="col-6">
        <div class="site-footer-copyright">
          <p style="display: inline;">© Copyright {{ dateFormat "2006" now }}
            - All Rights Reserved by Specy Network</a> </p>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- {{ $formhandler := resources.Get "js/formhandler.js" | minify }}
<script src="{{ $formhandler.Permalink }}"></script> -->
{{ $vendor := resources.Get "js/vendor.js" | minify }}
<script src="{{ $vendor.Permalink }}"></script>
{{ $script := resources.Get "js/script.js" | minify }}
<script src="{{ $script.Permalink }}"></script>