{{ with .Site.Params.partner }}
{{ if .enable }}
<section class="site-partner">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                {{with .title}}
                <h1 class="site-partner-title">{{ .name }}</h1>
                {{end}}
                {{with .partners}}
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                    {{range .link}}

                    {{end}}
                </div>
                {{end}}
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}