.site-counter {
  padding: 85px 0;
  color: $white;
  margin-top: 50px;

  .section-title {
    margin-bottom: 100px;


  }

  @include mobile {
    padding: 50px 0;
  }

  &-item {
    @include desktop {
      margin-bottom: 30px;
      text-align: center;
    }

    &-title {
      font-size: 30px;
      font-weight: 300;


    }

    &-number {

      font-size: 60px;
      margin-bottom: 0;
      font-weight: 700;
      background: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(185, 0, 108) 93%);
      -webkit-background-clip: text;
      color: transparent;
      font-weight: bolder;
    }
  }

  &-feature-item {
    &-title {
      color: #fff;
      font-size: 20px;
    }


  }

  .feature_container {
    // width: 100%;
    margin-top: 110px;


    // display: inline-flex;
    justify-content: space-between;

    .site-counter-feature-item {
      padding: 50px;
      background-color: #171717;
      border-radius: 15px;
    }

    .site-counter-feature-item-title {

      color: #fff;
      font-size: 30px;
      margin-bottom: 30px;
      font-weight: 600;
    }

    .site-counter-feature-item-text {
      color: #a8b8cd;
    }


  }



}